*.pyc
.DS_Store
runs/
trained/
.vscode/
*.npz
*.npy
*.pt
*.ply
*.tfevents*
*.egg-info/

__pycache__

build
*.so
configs/*.local.yaml
models/
data/
devel
logs
/misc/
/install_status.log
.catkin_tools
*.bag
*.bag.active
trained_model
